<div class="surface-ground h-screen w-screen flex align-items-center justify-content-center" [ngClass]="{'p-input-filled': filledInput}">
    <div class="surface-card py-7 px-5 sm:px-7 shadow-2 flex flex-column w-11 sm:w-30rem" style="border-radius:14px">
        <p-toast></p-toast>
        <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
        <h1 class="font-bold text-2xl mt-0 mb-2">เปลี่ยนรหัสผ่านเข้าใช้งาน</h1>

        <p class="text-color-secondary mb-4"></p>
        <span class="p-input-icon-left mb-4">
            <i class="pi pi-user"></i>
            <input
                type="text"
                pInputText
                placeholder="username"
                class="w-full"
                [(ngModel)]="username"
            />
        </span>

        <button pButton pRipple (click)="checkUsername(username)" label="ตรวจสอบ" class="p-button-success"></button><br>
        <h6 >กรอกเลขบัตรประชาชน 4 หลักหลัง</h6>
        <span class="p-input-icon-left mb-4">
            <i class="pi pi-id-card"></i>
            <input
                type="text"
                pInputText
                placeholder="กรอกเลขบัตรประชาชน 4 หลักหลัง"
                maxlength="4"
                class="w-full"
                [(ngModel)]="cid"
            />
        </span>
        <span class="p-input-icon-left mb-4">
            <i class="pi pi-key z-2"></i>
            <p-password id="password" placeholder="Password" styleClass="w-full"  [inputStyle]="{paddingLeft: '2.5rem'}" inputStyleClass="w-full " [toggleMask]="true" [(ngModel)]="password" ></p-password>
        </span>

        <span class="p-input-icon-left mb-4">
            <i class="pi pi-key z-2"></i>
            <p-password id="password" placeholder="Confirm Password" styleClass="w-full"  [inputStyle]="{paddingLeft: '2.5rem'}" inputStyleClass="w-full" [toggleMask]="true" [feedback]="false" [(ngModel)]="passwordConfirm"></p-password>
        </span>

        <button pButton  pRipple label="ยืนยันเปลี่ยนรหัสผ่าน" (click)="resetPassword(username)"></button>
    </div>
</div>

<app-config [minimal]="true"></app-config>
