<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-blockUI [target]="pnl" [blocked]="blockedPanel">
                <i class="pi pi-spin pi-spinner" style="font-size: 3rem"></i>
            </p-blockUI>
            <h5>หน่วยบริการ</h5>
            <p-table #pnl [value]="hospitals" scrollDirection="both" [paginator]="true" [rows]="10" [scrollable]="true"
                [showCurrentPageReport]="true" styleClass="mt-3" responsiveLayout="scroll"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['hospital_code','hospital_name']">
                <ng-template pTemplate="caption">
                    <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                        <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(pnl, $event)" placeholder="ค้นหา"
                                class="w-full" />
                        </span>
                        <button (click)="displayFormAdd()" pButton
                            class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1"
                            icon="pi pi-user-plus" label="เพิ่มรายการ"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style=" text-align: center;">ลำดับ</th>
                        <th pSortableColumn="hospital_code">รหัสหน่วยบริการ <p-sortIcon field="hospital_code"></p-sortIcon></th>
                        <th pSortableColumn="hospital_name">ชื่อหน่วยบริการ <p-sortIcon field="hospital_name"></p-sortIcon></th>
                        <th pSortableColumn="is_active" style="width:160px;">สถานะการใช้งาน <p-sortIcon field="is_active"></p-sortIcon></th>
                        <th>จัดการ</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-hospital let-i="rowIndex">
                    <tr>
                        <td style=" text-align: center;">{{i+1}}</td>
                        <td>{{hospital.hospital_code}}</td>
                        <td>{{hospital.hospital_name}}</td>
                        <td>
                            <!-- <button *ngIf="!hospital.is_active" type="button" pButton pRipple icon="pi pi-times-circle"
                                class="mr-2 p-button-danger p-button-raised"
                                (click)="enable(hospital.hospital_id)"><span class="pl-2">ปิดใช้งาน</span></button>
                            <button *ngIf="hospital.is_active" type="button" pButton pRipple icon="pi pi-check-circle"
                                class="mr-2 p-button-success p-button-raised"
                                (click)="disable(hospital.hospital_id)"><span class="pl-2">เปิดใช้งาน</span></button> -->

                            <!-- <div class=" mr-0 lg:mr-3 mt-4 lg:mt-0 p-2 flex align-items-center"
                                style="background-color: rgba(76, 175, 80,.1);" [style.border-radius]="'2.5rem'"> -->
                            <!-- <span
                                    class="bg-green-500 text-white flex align-items-center justify-content-center border-circle mr-2"
                                    style="min-width:2rem; min-height: 2rem">
                                    <i class="pi pi-check" *ngIf="hospital.is_active"></i>
                                    <i class="pi pi-ban" *ngIf="!hospital.is_active"></i>
                                </span> -->
                            <!-- <span class="text-green-500" *ngIf="hospital.is_active">เปิดใช้งาน</span>
                                <span class="text-red-500" *ngIf="!hospital.is_active">ปิดใช้งาน</span> -->

                            <p-tag *ngIf="hospital.is_active" severity="success" value="เปิดใช้งาน"></p-tag>
                            <p-tag *ngIf="!hospital.is_active" severity="danger" value="ปิดใช้งาน"></p-tag>
                            <!-- </div> -->
                        </td>
                        <td>
                            <button type="button" pButton pRipple icon="pi pi-pencil"
                                class="mr-2 p-button-warning p-button-raised"
                                (click)="displayFormEdit(hospital)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <p-dialog [(visible)]="displayForm" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
        <ng-template pTemplate="header">
            <h5 *ngIf="isAdd">เพิ่มหน่วยบริการ</h5>
            <h5 *ngIf="isEdit">แก้ไขหน่วยบริการ</h5>
        </ng-template>
        <ng-template pTemplate="content">
            <div *ngIf="isAdd" class="p-fluid">
                <div class="grid">
                    <div class="col-12 md:col-4">
                        <h5>รหัสหน่วยบริการ</h5>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-chevron-circle-right"></i></span>
                            <input type="text" id="hospital_code" [(ngModel)]="hospitalCode" pInputText
                                placeholder="รหัสหน่วยบริการ" maxlength="5">
                        </div>
                    </div>
                    <div class="col-12 md:col-8">
                        <h5>ชื่อหน่วยบริการ</h5>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-chevron-circle-right"></i></span>
                            <input type="text" id="hospital_name" [(ngModel)]="hospitalName" pInputText
                                placeholder="ชื่อหน่วยบริการ" class="ng-dirty ng-invalid" />
                        </div>
                    </div>
                </div>
            </div>


            <div *ngIf="isEdit" class="p-fluid">
                <div class="grid">
                    <div class="col-12 md:col-4">
                        <h5>รหัสหน่วยบริการ</h5>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-chevron-circle-right"></i></span>
                            <input type="text" id="hospital_code" [(ngModel)]="hospitalCodeEdit" pInputText
                                placeholder="รหัสหน่วยบริการ" maxlength="5">
                        </div>
                    </div>
                    <div class="col-12 md:col-8">
                        <h5>ชื่อหน่วยบริการ</h5>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-chevron-circle-right"></i></span>
                            <input type="text" id="hospital_name" [(ngModel)]="hospitalNameEdit" pInputText
                                placeholder="ชื่อหน่วยบริการ" class="ng-dirty ng-invalid" />
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <h5>สถานะการใช้งาน</h5>
                    <p-inputSwitch [(ngModel)]="hospitalActiveEdit"></p-inputSwitch>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button *ngIf="isAdd" type="button" pButton icon="pi pi-check" class="p-button-raised p-button-success"
                (click)="save()" label="เพิ่มรายการ"></button>
            <button *ngIf="isEdit" type="button" pButton icon="pi pi-check" class="p-button-raised p-button-success"
                (click)="update()" label="บันทึกแก้ไข"></button>
        </ng-template>
    </p-dialog>
</div>