<p-blockUI [target]="pnl" [blocked]="blockedPanel">
    <i class="pi pi-spin pi-spinner" style="font-size: 10rem;color:azure"></i>
</p-blockUI>
<div #pnl class="grid mx-2">
    <div *ngFor="let s of hospitals" class="col-12 lg:col-3 md:col-6 sm:col-12" (click)="activities()">
        <div class="card">
            <h5 style="text-align: center;">{{s.hospital_name}}</h5>
            <div class="flex flex-wrap align-items-center justify-content-around gap-7 ">
                <div class="flex flex-column align-items-center justify-content-center cursor-pointer ">
                    <span class="font-bold">จองเข้ารับบริการ</span>
                    <span class="text-color-secondary text-sm">xxxxx</span>
                </div>
            </div>
        </div>
    </div>
</div>