<div class="card bg-card w-full">
    <div class="card-title">
        <div class="text-center text-color-secondary">
            <span class="mr-2 text-2xl" >รายการสลอต</span>

        </div>
    </div>
    <div class="card-boby">
        <p-table [value]="slots" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="mt-3" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:72px;">            
                    <button type="button" pButton pRipple icon="pi pi-plus" class="mr-2 p-button-raised p-button-rounded p-button-success" (click)="displayFormAdd()"></button>
                    </th>
                    <th>ชื่อสลอต</th>
                    <th>วันที่</th>
                    <th>ช่วงเวลา</th>
                    <th>จำนวน</th>
                    <th style="width:160px;">สถานะการใช้งาน</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-slot>
                <tr>
                    <td>
                        <button type="button" pButton pRipple icon="pi pi-pencil" class="mr-2 p-button-warning p-button-raised" ></button>

                    </td>
                    <td>{{slot.slot_name}}</td>
                    <td>{{slot.slot_date | date}}</td>
                    <td>{{slot.period_name}}</td>
                    <td>{{slot.total_slot_per_period}}</td>
                    <td>
                        <button *ngIf="!slot.is_active" type="button" pButton pRipple icon="pi pi-times-circle" class="mr-2 p-button-danger p-button-raised" ><span class="pl-2">ปิดใช้งาน</span></button>
                        <button *ngIf="slot.is_active" type="button" pButton pRipple icon="pi pi-check-circle" class="mr-2 p-button-success p-button-raised"><span class="pl-2">เปิดใช้งาน</span></button>
                    </td>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="displayForm" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
        <span *ngIf="isAdd">เพิ่มสลอต</span>
        <span *ngIf="isEdit">แก้ไขสลอต</span>
    </ng-template>
    <ng-template pTemplate="content">
        <div *ngIf="isAdd" class="p-fluid">
            <div class="p-field">
                <label for="hospital_id">รหัสโรงพยาบาล</label>
                <input type="text" id="hospital_id"  pInputText>
                <label for="is_active">สถานะ</label><br>
                <p-inputSwitch [(ngModel)]="status_is_active"></p-inputSwitch><br>
                <label for="service_id">คลินิก</label>
                <!-- <input type="text" id="service_id"  pInputText> -->
                <p-dropdown [options]="listService" [(ngModel)]="listService" optionLabel="service_name" [showClear]="true" placeholder="Select a City"></p-dropdown>
                
                <label for="service_type_id">การให้บริการ</label>
                <input type="text" id="service_type_id"  pInputText>
                <label for="slot_avialable">เปิด/ปิด</label>
                <input type="text" id="slot_avialable"  pInputText>
                <label for="slot_date">วันที่เปิดสลอต</label>
                <p-calendar [(ngModel)]="date"></p-calendar>
                <label for="slot_id">รหัสสลอต</label>
                <input type="text" id="slot_id "  pInputText>
                <label for="slot_name">ชื่อสลอต</label>
                <input type="text" id="slot_name "  pInputText>
                <label for="total_slot_per_period">จำนวนสลอต</label>
                <input type="text" id="total_slot_per_period "  pInputText>
            </div>
        </div>
        <div *ngIf="isEdit" class="p-fluid">
            <div class="p-field">
                <label for="service_name">ชื่อคลินิก</label>
                <!-- <input type="text" id="service_name" [(ngModel)]="clinicNameEdit" pInputText> -->
            </div>
            <div class="p-field">
                <label for="service_name">สถานะการใช้งาน</label>
                <div class="p-formgroup-inline">
                    <!-- <p-inputSwitch [(ngModel)]="clinicActiveEdit"></p-inputSwitch> -->
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button *ngIf="isAdd" type="button" pButton icon="pi pi-check" class="p-button-raised p-button-success" (click)="save()" label="เพิ่มรายการ"></button>
        <button *ngIf="isEdit" type="button" pButton icon="pi pi-check" class="p-button-raised p-button-success" (click)="update()" label="บันทึกแก้ไข"></button>
    </ng-template>
</p-dialog>
