<div class="grid">
    <div class="col-12 md:col-6">
        <div class="card">
            <div class="flex justify-content-between flex-wrap">
                <h5>ประวัติการจอง</h5>
                <p-button label="จองคิว" icon="pi pi-check" size="small" (click)="navigateToOtherPage()"></p-button>
            </div>
            
            <p-timeline [value]="events">
                <ng-template pTemplate="content" let-event>
                    <small class="p-text-secondary">{{thaiDateFormat(event.date)}}</small>
                    <div class="card mb-4 flex align-items-center">
                    
                        <!-- <p-avatar label="BS" size="large" shape="circle" styleClass="text-base font-bold"
                        [style]="{'background-color':'rgba(101, 214, 173, 0.1)', 'color': '#27AB83', 'border': '1px solid #65D6AD'}"></p-avatar> -->
                        <p-avatar image="{{event.icon}}" size="large" shape="circle"></p-avatar>
                      
                        <div class="ml-3">
                            <span class="block">{{event.hospital_name}}</span>
                            <span class="text-color-secondary block">คุณ{{event.customer_name}}</span>
                            <span class="text-color-secondary block">{{event.service_type_name}}</span>
                            <span class="text-color-secondary block">{{event.slot_name}}</span>
                            <span class="text-color-secondary block">{{event.is_confirm}}</span>
                            
                        </div>
                    </div>
                   
                </ng-template>
                <ng-template pTemplate="opposite" let-event>
                    คลินิก : {{event.service_name}}
                </ng-template>
            </p-timeline>
        </div>
    </div>
</div>
